@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body,html{
    margin: 0;
    padding:0;
    
    box-sizing: border-box;
    color: black;
    font-family:"Montserrat", sans-serif;
}  
.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: url(deska_nogi.jpg);
    background-size: cover;
    flex-direction: column;
}
.heade{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: rgb(18,18,18);
    font-weight: 700;
    order:2;
    
}
.header h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    
}
.header h1 span{
    padding: 6px 14px;
    
}
li, a, button {
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px 10%;
    background-color:rgb(18,18,18);
    height: 50px;
}
.logo{
    cursor: pointer;
    
    margin-right:auto;
}
.linki{
    list-style:none;
}
.linki li{
    display: inline-block;
    padding: 0px 20px;
}
.linki li a {
    transition: all 0.3s ease 0s;
}
.linki li a:hover {
    color: rgb(241,236,64);
}
button {
    padding: 9px 25px;
    background-color: rgb(241,236,64);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:black;
}
button:hover {
    background-color: rgb(207, 202, 50);
}
.klik{
    padding: 9px 25px;
    background-color: rgba(241,236,64,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:black;
}
.klik:hover{
    background-color: rgba(207, 202, 50);
}
.des{
    font-size: 30px;
    padding:10px;
    background-color: rgba(241,236,64,0.8);
}
.skate{
    font-size:60px;
    padding:11.9px;
    background-color: rgba(241,236,64,0.8);
}
.produkty{
    display:flex;
     background-color: rgb(18,18,18);
     justify-content: center;
     color: #edf0f1;
     height:900px;
     align-items: center;
     width: 100%;
     flex-direction: column;
}
.produkt a{
    font-size:20px;
    display: flex;
    margin-top:5px;
    
}
.produkt{
margin:0.5em;
}
.cont{
    display: flex;
    width: 100%;
    height: 720px;
    align-items: center;
    justify-content: center;
}
.cena{
    font-weight: 600;
}
.about{
    display: flex;
    height:500px;
    width: 100%;
    background-color: rgb(18,18,18);
    color: #edf0f1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aby{
    font-size:30px;
    font-weight: 600;
}
.infoo{
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}
.tekst{
    font-size:30px;
}
.stopka{
    font-weight: 600;
    font-size:20px;
    height: 400px;
    width: 100%;
    background-color:rgb(241,236,64);
    display: grid;
    color: rgb(18,18,18);
    grid-template-columns: 1fr 1fr 1fr;
}
.col1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    margin-left: 40px;
    margin-top: 46px;
}
.col2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    margin-top: 46px;
    margin-left: 53px;
}
.col3{
    width: 300px;
    margin-left: 72px;
    margin-top: 46px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
